/*头部样式*/
.mobile-logo {
  /*width: 120px;*/
  height: 31px;
  /*background: red;*/
  border-radius: 6px;
  margin: 16px 24px 16px 0px;
  float: left;
}
.mobile-logo p{
	color: white;
	font-size: 1.5em;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 12px;
}
.mobile-logo img{
	display: inline-block;
	width: 32px;
	height: 34px;
	float: left;
}
/*content*/
.contentWrap{
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*tabs*/
.ant-tabs-bar{
	margin-bottom: 0 !important;
}
.m-tabs{
	margin-top: 64px;
}

/*carousel*/
.m_carousel img{
	width: 100%;
	height: 200px;
}

/*mobile item*/
/*.ant-layout{
	padding: 0 !important;
	margin: 0 !important;
}*/

.m_itemsBox{
    position: relative;
    /*width: 300px; /*448*/*/
    padding: 32px 14px;
    margin: 14px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 6px 6px 10px #999;
}
.m_item .m_item-pic-box { 
    width: 260px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
}
.m_item-img{
  margin-top: 32px;
    width: 100%;
    height: 100%;
}

.m_item-name{
	font-size: 16px;
	text-align: center;
  padding-bottom: 26px;
}

@media screen and (max-width: 360px) {
  .m_item .m_item-pic-box {
    width: 215px;
    height: 165px;
  }
  .m_item-name {
    padding-bottom: 15px;
}
}