/*头部样式*/
.logo {
  /*width: 120px;*/
  height: 31px;
  /*background: red;*/
  border-radius: 6px;
  margin: 16px 24px 16px 0px;
  float: left;
}
.logo p{
	color: white;
	font-size: 2em;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 12px;
}
.logo img{
	display: inline-block;
	width: 38px;
	height: 40px;
	float: left;
}


/*内容样式*/

.content-wrap{
	padding: 0 50px;
	margin-top: 64px;
}
.contents{
	background: #fff;
	padding: 24px; 
	min-height: 880px;
}
.slideShow{
	margin-top: 64px;
	position: relative;
}
.slideShow img{
	width: 100%;
	height: 260px;
}
.slideShow  p{
	width: 200px;
	text-align: center;
	position: absolute;
	top: 190px;
	left: 50%;
	margin-left: -100px;
	color: white;
	font-size: 2em;
}

/*item样式*/
.itemsBox{
    position: relative;
    width: 448px;
    padding: 32px 16px;
    margin: 16px auto;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 6px 6px 10px #999;
}
.item .item-pic-box { 
    width: 352px;
    height: 208px;
    overflow: hidden;
    margin: 0 auto;
}
.item-img{
    width: 100%;
    height: 100%;
}
.item-pic-box img:hover {
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: scale(1.3);
    -webkit-transform: all 1s ease 0s;
}
.item-name{
	font-size: 16px;
	text-align: center;
}

/*页脚样式*/
.footer{
	text-align: center;
}

@media screen and (max-width: 1250px) {
    .itemsBox{
	    position: relative;
	    width: 408px;
	    padding: 32px 10px;
	    margin: 10px;
    }
    .item .item-pic-box { 
	    width: 312px;
	    height: 200px;
	}
}
@media screen and (max-width: 1160px) {
    .itemsBox{
	    position: relative;
	    width: 340px;
	    padding: 24px 0px;
	    margin: 8px;
    }
    .item .item-pic-box { 
	    width: 280px;
	    height: 180px;
	}
}
